<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="wealthng.bvn"/>
      <class name="wealthng.testpayment"/>
      <class name="wealthng.liquidateInvestment"/>
      <class name="wealthng.withdrawal"/>
      <class name="wealthng.investmentFixedIncome"/>
      <class name="wealthng.investmentRealestate"/>
      <class name="wealthng.login"/>
      <class name="wealthng.investmentAgriculture"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
